.main-header {
  background: green;
    background color: blue;
    background-image: url("https://i.ytimg.com/vi/_djfIygx0lo/maxresdefault.jpg");
  height: 300px;
}
h2 {
  background: blue;
  background-color: turquoise;
} 

